<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notaneitor</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	
	<h2>Add</h2>
    <form method="post" action="/teacher/add" th:object="${teacher}">
		DNI:<br>
        <input type="text" name="DNI" required="true" ></br>
        <span class="text-danger" th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"/>
        Nombre:<br>
        <input type="text" name="Nombre" required="true" ></br>
        <span class="text-danger" th:if="${#fields.hasErrors('Nombre')}" th:errors="*{Nombre}"/>
        Apellidos:<br>
        <input type="text" name="Apellidos" required="true" ></br>
        <span class="text-danger" th:if="${#fields.hasErrors('Apellidos')}" th:errors="*{Apellidos}"/>
        Categoría:<br>
        <input type="text" name="Categoria" required="true" ></br>
        <span class="text-danger" th:if="${#fields.hasErrors('Categoria')}" th:errors="*{Categoria}"/>
        <input type="submit" value="Send">
    </form>
    
</body>
</html>
