<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head" />

<body>
    <nav th:replace="fragments/nav" />
    <div class="container" style="text-align: center">
        <h2 th:text="#{welcome.message}"></h2>
        <h3 th:text="#{home.private_message}"></h3>
        <p th:text="#{home.logged_in_as}">
            <b sec:authentication="principal.username" th:inline="text"></b>
		</p>
		
		<p th:text="#{home.user_marks}">
		    Notas del usuario
		</p>
		<div th:replace="fragments/markTable"></div>
		
	</div>
	<footer th:replace="fragments/footer"/>
</body>
</html>