<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notaneitor</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
    <nav th:replace="fragments/nav" />

	<div class="container">
	  <h2>Notas</h2>
	  <form class="navbar-form" action="/mark/list">
	    <div class="form-group">
	        <input name="searchText" type="text" class="form-control" size="50" placeholder="Buscar por descripción o nombre del alumno">
	    </div>
	    <button type="submit" class="btn btn-default">Buscar</button>
	  </form>
	  <p>Las notas que actualmente figuran en el sistema son las siguientes:</p>
	  
	  <button type="button" id="updateButton" class="btn btn-default">Actualizar</button>
	  <script th:inline="javascript">
			 /*<![CDATA[*/
			 $( "#updateButton" ).click(function() {
				 var numberPage = [[${param.page}]];
				 var urlUpdate = '/mark/list/update';
				 if (numberPage != null ) {
				 	urlUpdate += "?page="+numberPage[0];
				 }
				 $("#tableMarks").load(urlUpdate);
			 });
			 /*]]>*/
		</script>
	  
	  <div th:replace="fragments/markTable"></div>
	  
	  
	  <footer th:replace="fragments/pagination"/>
	</div>
	
	<footer th:replace="fragments/footer"/>

</body>
</html>